@import url('./reset.css');

/* hdrTop */
div.hdrTop{
    /* bgc#숫자 */
    background-color: #212517;
}
div.hdrTop>div.hdrTopGrid{
    /* 속성명 : 속성값 */
    /* w80p = width: 80%; */
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
    /* margin : 0 auto = 가운데 정렬 */
    /* 크기 단위 : px,%,vw,vh,vh,em,rem */
    /* 100% == 100vw 1px정도 차이 */
}
div.hdrTop>div.hdrTopGrid>i{
    font-size: 35px;    
    line-height: 40px;  
}

/* header */
div.headerWrap{
    background-color: #A31F30;
}
div.headerWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
div.headerWrap>div.header>h1{
    line-height: 80px;
    font-size: 25px;
}
div.headerWrap>div.header>ul{
    display: flex;
    column-gap: 10px;
}
div.headerWrap>div.header>ul>li{
    line-height: 80px;
    font-size: 20px;
}

/* content 공통 */
div.content{
    margin-top: 80px;
}
div.content>div.contentGrid{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.content>div.contentGrid>div.header{}
div.content>div.contentGrid>div.header>h2{
    line-height: 80px;
    font-size: 40px;
    text-align: center;
}
div.content>div.contentGrid>div.header>p{
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    width: calc(100% / 12 * 6);
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

div.content>div.contentGrid>div.section{
    margin-top: 40px;
}
div.content>div.contentGrid>div.section div.article{}
div.content>div.contentGrid>div.section div.article>img{
    display: block;
    background-color: #ccc;
}
div.content>div.contentGrid>div.section div.article>div.texts{}
div.content>div.contentGrid>div.section div.article>div.texts>h3{
    font-size: 25px;
    line-height: 40px;
}
div.content>div.contentGrid>div.section div.article>div.texts>h4{
    font-size: 14px;
    line-height: 40px;
}
div.content>div.contentGrid>div.section div.article>div.texts>p{
    height: 80px;
    line-height: 20px;
    font-size: 12px;
    overflow: hidden;
}

/* contents 1 */
div.content.cnt1{}
div.content.cnt1>div.contentGrid{}
div.content.cnt1>div.contentGrid>div.header{}
div.content.cnt1>div.contentGrid>div.header>h2{}
div.content.cnt1>div.contentGrid>div.header>p{}
div.content.cnt1>div.contentGrid>div.section{}
div.content.cnt1>div.contentGrid>div.section>div.artTop{
    display: flex;
    column-gap: 20px;
}
div.content.cnt1>div.contentGrid>div.section>div.artTop>div.article{}
div.content.cnt1>div.contentGrid>div.section>div.artTop>div.article>img{
    height: 320px;
}
div.content.cnt1>div.contentGrid>div.section>div.artTop>div.article>div.texts{}
div.content.cnt1>div.contentGrid>div.section>div.artTop>div.article>div.texts>h3{}
div.content.cnt1>div.contentGrid>div.section>div.artTop>div.article>div.texts>h4{}
div.content.cnt1>div.contentGrid>div.section>div.artTop>div.article>div.texts>p{}
div.content.cnt1>div.contentGrid>div.section>div.artTop>div.article>div.texts>div.icons{}
div.content.cnt1>div.contentGrid>div.section>div.artTop>div.article>div.texts>div.icons>i{}
div.content.cnt1>div.contentGrid>div.section>div.artBottom{
    display: flex;
    column-gap: 20px;
}
div.content.cnt1>div.contentGrid>div.section>div.artBottom>div.article{}
div.content.cnt1>div.contentGrid>div.section>div.artBottom>div.article>img{
    display: block;
    height: 320px;
    background-color: #ccc;
}
div.content.cnt1>div.contentGrid>div.section>div.artBottom>div.article>img>div.texts{}
div.content.cnt1>div.contentGrid>div.section>div.artBottom>div.article>img>div.texts>h3{}
div.content.cnt1>div.contentGrid>div.section>div.artBottom>div.article>img>div.texts>p{}
div.content.cnt1>div.contentGrid>div.section>div.artBottom>div.article>img>div.texts>div.icons{}
div.content.cnt1>div.contentGrid>div.section>div.artBottom>div.article>img>div.texts>div.icons>i{}

/* contents 2 */
div.content.cnt2{}
div.content.cnt2>div.contentGrid{
    width: 100%;
    max-width: none;
}
div.content.cnt2>div.contentGrid>div.header{
    background-color: #f00;
    padding-top: 80px;
    padding-bottom: 320px;
}
div.content.cnt2>div.contentGrid>div.header>h2{}
div.content.cnt2>div.contentGrid>div.header>p{}
div.content.cnt2>div.contentGrid>div.section{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: calc(40px * -7);
}
div.content.cnt2>div.contentGrid>div.section>div.article{
    display: flex;
}
div.content.cnt2>div.contentGrid>div.section>div.article>video{
    width: 50%;
    height: 440px;
    display: block;
    background-color: #ccc;
}
div.content.cnt2>div.contentGrid>div.section>div.article>div.texts{
    width: 50%;
    background-color: #fff;
}
div.content.cnt2>div.contentGrid>div.section>div.article>div.texts>h3{}
div.content.cnt2>div.contentGrid>div.section>div.article>div.texts>h4{}
div.content.cnt2>div.contentGrid>div.section>div.article>div.texts>p{}
div.content.cnt2>div.contentGrid>div.section>div.article>div.texts>div.button{}

/* contents 3 */
div.content.cnt3{}
div.content.cnt3>div.contentGrid{}
div.content.cnt3>div.contentGrid>div.header{}
div.content.cnt3>div.contentGrid>div.header>h2{}
div.content.cnt3>div.contentGrid>div.header>p{}
div.content.cnt3>div.contentGrid>div.section{
    display: flex;
    column-gap: 20px;
}
div.content.cnt3>div.contentGrid>div.section>div.article{
    width: 25%;
    /* width: calc(100% / 4); */
}
div.content.cnt3>div.contentGrid>div.section>div.article>img{
    display: block;
    width: 100%;
    height: 200px;
}
div.content.cnt3>div.contentGrid>div.section>div.article>div.texts{}
div.content.cnt3>div.contentGrid>div.section>div.article>div.texts>h3{}
div.content.cnt3>div.contentGrid>div.section>div.article>div.texts>p{}

/* footer */
div.footer{
    background-color: #A31F30;
    margin-top: 80px;
    padding-top: 40px;
    padding-bottom: 80px;
}
div.footer>div.footerGrid{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.footer>div.footerGrid>h4{
    line-height: 80px;
    font-size: 30px;
    text-align: center;
}
div.footer>div.footerGrid>p{
    height: 40px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
}
div.footer>div.footerGrid>div.sns{}
div.footer>div.footerGrid>div.sns>i{
    line-height: 80px;
    font-size: 40px;
}